<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>ejs day! hurray!</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <h1>Hello Pallet town residents!</h1>
    <h3>Pokemon!</h3>
    <ul>
        <li><a href='/hello/pikachu'>Who is Pikachu?</a></li>
        <li><a href='/hello/charmander'>Who is Charmander?</a></li>
        <li><a href='/hello/squirtle'>Who is Squirtle?</a></li>
        <li><a href='/hello/bulbasaur'>Who is Bulbasaur?</a></li>
    </ul>

</body>

</html>
