<html>

<head>
</head>

<body>
    <h1> San Diego Trivia </h1>
    <strong>
      <%= question %>
    </strong>
    <br />
    <%= answer %>
        <br />
        <img src=<%= image %> >

        <!-- <img src='/images/trivia.png' /> -->

        <br />
        <a href="/">Back</a>

</body>

</html>
